@import "../../../styles/variables.scss";

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 50;
    padding: 20px;
    .mobile_menu_button {
        display: none;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: $very-light-gray;
        color: $black;
        border-radius: 30px;
        transition-duration: 300ms;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        &:hover {
            background-color: $bright-blue;
            color: $white;
        }
        @media (max-width: 767px) {
            display: flex;
        }
    }
    .sidebar_menu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $white;
        transition-duration: 300ms;
        display: flex;
        align-items: center;
        .mobile_close_button {
            position: absolute;
            top: 0px;
            right: 0px;
            color: $white;
            font-size: 20px;
            padding: 20px;
            display: none;
        }
        .menu_content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 0px;
            padding: 0px;
            @media (max-width: 767px) {
                padding: 80px 20px;
                width: 100%;
            }
            .menu_item {
                .menu_item_link {
                    position: relative;
                    padding: 12px;
                    border-radius: 30px;
                    cursor: pointer;
                    transition-property: all;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    transition-duration: 300ms;
                    overflow: hidden;
                    width: 48px; 
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background-color: $very-light-gray;
                    color: $black;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                    &.active {
                        background-color: $bright-blue;
                        color: $white;
                    }
                    .menu_item_name {
                        max-width: 0;
                        overflow: hidden;
                        display: none;
                        opacity: 0;
                        white-space: nowrap;
                        transition: max-width 0.3s ease, opacity 0.3s ease;
                        @media (max-width: 767px) {
                            width: 100%;
                            display: block;
                            overflow: visible;
                            opacity: 1;
                        }
                    }
                    &:hover {
                        width: 150px;
                        background-color: $bright-blue;
                        color: $white;
                    }
                    &:hover .menu_item_name {
                        display: block;
                        max-width: 100px;
                        opacity: 1;
                    }
                    svg {
                        width: 24px; 
                        height: 24px; 
                        transition: transform 0.5s ease;
                    }
                    &:hover svg {
                        transform: rotate(360deg); 
                    }
                }
            }
        }
        @media (max-width: 767px) {
            position: fixed;
            background-color: $transparent-black;
            align-items: flex-start;
            .mobile_close_button {
                display: block;
            }
            ul {
                margin-top: 60px;
                padding: 20px;
            }
        }
    }
}
