@import "../../../styles/variables.scss";

.project {
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    gap: 40px;
    .project_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        width: 100%;
        .project_headline {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .project_bigtitle {
                position: absolute;
                font-size: 7rem;
                font-weight: bold;
                color: rgb(0 0 0 / 10%);
                z-index: -1;
            }
            .project_title {
                font-size: 4rem;
                font-weight: bold;
                color: $slate-blue;
            }
        }
        .project_tab {
            width: 100%;
            .project_tab_headline {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                border-bottom: solid 1px $very-light-gray;
                .project_tab_title {
                    font-size: 1.2rem;
                    color: $slate-blue;
                    font-weight: 600;
                    padding: 8px 10px;
                    transition-duration: 300ms;
                    border-bottom: solid 2px transparent;
                    &.active {
                        border-color: $bright-blue;
                        color: $bright-blue;
                    }
                    &.inactive {
                        color: $slate-blue;
                    }
                    &:hover {
                        border-color: $bright-blue;
                        color: $bright-blue;
                    }
                }
            }
        }
        .project_tags {
            margin: 25px 0px;
        }
    }
}