@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}