@import "variables";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

main {
  padding: 1rem;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}