@import "variables";

#project {
    .tagSwiper {
        .swiper-wrapper {
            padding-bottom: 30px;
            @media (max-width: 640px) {
                width: 100px;
            }
            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .swiper-pagination  {
            bottom: 0;
            @media (max-width: 645px) {
                display: none;
            }
            .swiper-pagination-bullet {
                width: 20px;
                height: 5px;
                border-radius: 5px;
                background: $slate-blue;
            }
            .swiper-pagination-bullet-active {
                background: $bright-blue;
            }
        }
    }
    .cardTagsSwiper {
        .swiper-button-prev, 
        .swiper-button-next {
            background-color: $very-light-gray;
            width: 20px;
            height: 28px;
            top: 20px;
            padding: 5px;
            @media (max-width: 645px) {
                display: none;
            }
            &::after {
                font-size: 1rem;
                font-weight: bold;
            }
        }
        .swiper-button-prev {
            left: 0;
            border-radius: 5px 0px 0px 5px;
        }
        .swiper-button-next {
            right: 0;
            border-radius: 0px 5px 5px 0px;
        }
    }
}
