@import "../../../styles/variables.scss";

.technology {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
  gap: 40px;
  .technology_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    @media (max-width: 425px) {
      gap: 30px;
    }
    .technology_headline {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .technology_bigtitle {
        position: absolute;
        font-size: 7rem;
        @media (max-width: 768px) {
          font-size: 4rem;
        }
        @media (max-width: 425px) {
          font-size: 3rem;
        }
        font-weight: bold;
        color: rgb(0 0 0 / 10%);
        z-index: -1;
      }
      .technology_title {
        font-size: 4rem;
        @media (max-width: 768px) {
          font-size: 3rem;
        }
        @media (max-width: 425px) {
          font-size: 2rem;
        }
        font-weight: bold;
        color: $slate-blue;
      }
    }
    .technology_list {
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      grid-template-rows: repeat(3, minmax(100px, 1fr));
      gap: 30px;
      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-template-rows: auto;
      }
      @media (max-width: 425px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
      .technology_list_item {
        width: 100%;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition-duration: 300ms;
        background-color: $white;
        &:hover {
          background-color: $pale-gray;
        }
        .technology_card {
          position: relative;
          padding: 20px;
          .technology_card_content {
            display: flex;
            align-items: center;
            gap: 25px;
            @media (max-width: 425px) {
              flex-direction: column;
              gap: 15px;
            }
            .technology_card_text {
              @media (max-width: 425px) {
                text-align: center;
              }
              .technology_card_title {
                font-size: 1.2rem;
                color: $slate-blue;
                font-weight: 700;
                margin-bottom: 10px;
                @media (max-width: 425px) {
                  font-size: 1rem;
                }
              }
              .technology_card_description {
                font-size: 1rem;
                color: $slate-blue;
                font-weight: 500;
                margin-bottom: 15px;
              }
              .technology_card_icons {
                display: flex;
                align-items: center;
                gap: 8px;
                @media (max-width: 425px) {
                  justify-content: center;
                }
                .tech_icon_wrapper {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: rgba(255, 255, 255, 0.1);
                  border-radius: 8px;
                  transition: transform 0.2s ease;
                  &:hover {
                    transform: scale(1.1);
                  }
                  svg {
                    width: 25px;
                    height: 25px;
                  }
                }
                .tech_more {
                  font-size: 0.9rem;
                  font-weight: 500;
                  color: $slate-blue;
                }
              }
            }
          }
        }
      }
      .technology_popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 50;
        .technology_popup_content {
          position: relative;
          background-color: $white;
          padding: 25px;
          border-radius: 8px;
          .close_button {
            position: absolute;
            top: 10px;
            right: 10px;
          }
          .technology_popup_title {
            font-size: 1.2rem;
            color: $slate-blue;
            font-weight: 600;
            margin-bottom: 12px;
          }
          .technology_popup_description {
            font-size: 1rem;
            color: $slate-blue;
            font-weight: 400;
          }
          .technology_popup_tech_used {
            margin-top: 20px;
            .tech_used_title {
              font-size: 1rem;
              color: $slate-blue;
              font-weight: 600;
              margin-bottom: 10px;
            }
            .tech_used_list {
              display: flex;
              flex-wrap: wrap;
              gap: 20px;
              overflow-x: hidden;
              @media (max-width: 425px) {
                overflow-y: scroll;
                height: 300px;
              }
              .tech_used_list_item {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 5px;
                .tech_used_item_title {
                  font-size: 1rem;
                  color: $slate-blue;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }
  }
}
