@import "../../../styles/variables.scss";

.technology {
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    gap: 40px;
    .technology_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        .technology_headline {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .technology_bigtitle {
                position: absolute;
                font-size: 7rem;
                font-weight: bold;
                color: rgb(0 0 0 / 10%);
                z-index: -1;
            }
            .technology_title {
                font-size: 4rem;
                font-weight: bold;
                color: $slate-blue;
            }
        }
    }
    .technology_list {
        display: grid;
        grid-auto-rows: minmax(0, 1fr);
        gap: 30px;
        .technology_card {
            background-color: $white;
            border-radius: 8px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            height: 100%;
            .technology_card_title {
                font-size: 1.2rem;
                color: $slate-blue;
                font-weight: 700;
                text-align: center;
            }
            .technology_card_icons {
                display: grid;
                grid-template-columns: repeat(4, minmax(0, 1fr));
                gap: 15px;
                .technology_card_icons_content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;
                    span {
                        font-size: 0.9rem;
                        color: $slate-blue;
                        font-weight: 500;
                        text-align: center;
                    }
                }
            }
        }
    }
}
