@import "../../../styles/variables.scss";

.about {
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    .about_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        @media (max-width: 425px) {
            gap: 30px;
        }
        .about_headline {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .about_bigtitle {
                position: absolute;
                font-size: 7rem;
                @media (max-width: 768px) {
                    font-size: 4rem;
                }
                @media (max-width: 425px) {
                    font-size: 3rem;
                }
                font-weight: bold;
                color: rgb(0 0 0 / 10%);
                z-index: -1;
            }
            .about_title {
                font-size: 4rem;
                @media (max-width: 768px) {
                    font-size: 3rem;
                }
                @media (max-width: 425px) {
                    font-size: 2rem;
                }
                font-weight: bold;
                color: $slate-blue;
            }
        }
        .about_paragraph {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 50px;
            @media (max-width: 992px) {
                flex-direction: column-reverse;
                align-items: center;
            }
            @media (max-width: 1024px) {
                gap: 50px;
            }
            .about_image {
                flex: 1;
                img {
                    filter: grayscale(100%);
                    width: 100%;
                    border-radius: 8px;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
                @media (max-width: 992px) {
                    display: none;
                }
            }
            .about_description {
                display: flex;
                flex-direction: column;
                gap: 25px;
                flex: 3;
                p {
                    font-size: 1.15rem;
                    font-weight: 600;
                    color: $slate-blue;
                }
            }
            @media (max-width: 768px) {
                .about_description {
                    max-height: 500px;
                    overflow: hidden;
                    transition: max-height 0.3s ease;
                    &.show_all {
                        max-height: 1750px;
                    }
                    &.show_less {
                        max-height: 500px;
                    }
                }
                .about_showmore {
                    .showmore_button {
                        color: $slate-blue;
                        font-size: 0.9rem;
                        font-weight: 600;
                        background-color: $white;
                        border: solid 1px $slate-blue;
                        border-radius: 4px;
                        padding: 8px 10px;
                        transition-duration: 300ms;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        &:hover {
                            background-color: $very-light-gray;
                        }
                    }
                }
            }
            @media (min-width: 769px) {
                .showmore_button {
                    display: none;
                }
            }
        }
    }
}