@import "../../../styles/variables.scss";

.contact {
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    gap: 40px;
    position: relative;
    .contact_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        .contact_headline {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .contact_bigtitle {
                position: absolute;
                font-size: 7rem;
                font-weight: bold;
                color: rgb(0 0 0 / 10%);
                z-index: -1;
            }
            .contact_title {
                font-size: 4rem;
                font-weight: bold;
                color: $slate-blue;
            }
        }
        .contact_description {
            font-size: 1.2rem;
            color: $slate-blue;
            font-weight: 500;
            text-align: center;
        }
        .contact_socialIcons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            transition: color 0.3s ease;
            a {
                transition: color 0.3s ease;
                color: $slate-blue;
                &:hover {
                    color: $bright-blue;
                }
            }
            svg {
                transition: fill 0.3s ease;
                fill: currentColor;
            }
        }
        .footer {
            position: absolute;
            bottom: 0;
            padding: 15px;
            p {
                font-size: 1.1rem;
                font-weight: 500;
                color: $slate-blue;
            }
        }
    }
}